<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" >
<!--Layout decorate : pour annoncer qd on va utiliser template1-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>

<!--chercher content1 ds template1 et ajouter ce contenu ds content1-->
<div layout:fragment="content1" class="m-4">
   <div class="container mt-2">
       <div class="card ">
           <div class="card-header ">Liste Patients</div>
               <div class="card-body m-3">
                   <!-- Form pour chercher un patient :-->
                   <form method="get" th:action="@{index}"> <!-- @mappping vers /index -->
                        <div>
                            <label >Key-word :</label>
                            <input type="text" name="keyword" th:value="${keyword}" >
                            <!-- th:value pour afficher keyword passer on parametre -->
                            <button type="submit" class="btn btn-info">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                   </form>
                           <table class="table active-table-tab">
                               <thead>
                               <tr>
                                   <th>
                                       ID
                                   </th>
                                   <th>Nom</th> <th>Date </th> <th>Malade</th>  <th>Score</th>
                               </tr>
                               <tr th:each="p:${listPatients}">
                                   <td th:text="${p.id}"></td>
                                   <td th:text="${p.nom}"></td>
                                   <td th:text="${p.dateNaissance}"></td>
                                   <td th:text="${p.malade}"></td>
                                   <td th:text="${p.score}"></td>
                                   <td>
                                       <a onclick="javascript:return confirm('Etes vous sure ?')" th:href="@{delete(id=${p.id},keyword=${keyword},page=${currentPage})}" class="btn btn-danger">
                                           <i class="bi bi-trash"></i>
                                       </a>
                                   </td>
                                   <td>
                                       <a  th:href="@{edit(id=${p.id},keyword=${keyword},page=${currentPage})}" class="btn btn-success">
                                           <i class="bi bi-pencil-square"></i>
                                       </a>
                                   </td>
                               </tr>
                               </thead>

                           </table>

                   <ul class="nav nav-pills">
                       <li th:each="valuePage,item:${pages}"> <!--// pages representes c est tab contient nb-->
<!--                           //total de pages , et status.index represenente les indexes des  cases de tab-->

<!--                           // th:href : fait appel a @getmapping dans url /index , c est pour ca on a utiliser @ et non pas $-->
<!--                           //avec page = status.index -->
                           <a th:href="@{/index(page=${item.index},keyword=${keyword})}"

                              th:class="${currentPage==item.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                               th:text="${1+item.index}">  </a>

                       </li>
<!--  //chnager la couleur de page courant par un if currentPage==status.index changer le class -->
                   </ul>
               </div>
       </div>
   </div>

</div>
</body>
</html>